* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  max-height: 400px;
  min-width: 380px;
  background-color: tomato;
  border: 3px solid black;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  border-radius: 20px;
}

section div {
  display: flex;
  width: 100%;
  gap: 10px;
}

section div div {
  min-width: 100px;
  min-height: 100px;
  background-color: blueviolet;
  border: 2px solid black;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 40px;
  border-radius: 20px;
}

section div div:nth-child(2) {
  flex-grow: 2;
}

nav {
  height: 200px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav ul li {
  font-size: large;
  font-weight: 700;
  background-color: blueviolet;
  padding: 5px 15px;
  max-width: 100px;
  border-radius: 20px;
  border: 2px solid black;
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav ul {
    display: flex;
    flex-direction: row;
  }
}
