* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  padding: 20%;
  font-size: 30px;
}

nav ul {
  list-style: none;
}

nav ul li {
    font-size: large;
    font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav ul li {
    display: inline;
  }
}
