* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #1f1f1f;
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: grid;
  gap: 20px;
  padding: 50px;

  section:nth-child(1) {
    max-width: 700px;
    height: 100px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px;
    position: relative;

    span {
      position: absolute;
      bottom: 10px;
      right: 15px;
      font-size: 35px;
    }
  }

  section:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    max-width: 700px;
    min-width: 690px;

    .number {
      background-color: #333438;
    }

    .equal {
      background-color: #a8c7fa;
      color: #1f1f1f;
    }

    div {
      text-align: center;
      background-color: #2c303d;
      border-radius: 50px;
      padding: 10px 0;
      min-width: 40px;

      &:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1/2;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    section:nth-child(2) {
      grid-template-columns: repeat(4, 1fr);

      div:nth-child(1) {
        grid-column: 1/3;
        grid-row: 6/7;
      }

      div:nth-child(2) {
        grid-column: 3/4;
        grid-row: 6/7;
      }

      div:nth-child(7) {
        grid-column: 1/2;
        grid-row: 7/8;
      }

      div:nth-child(8) {
        grid-column: 2/3;
        grid-row: 7/8;
      }

      div:nth-child(9) {
        grid-column: 3/4;
        grid-row: 7/8;
      }

      div:nth-child(14) {
        grid-column: 1/2;
        grid-row: 8/9;
      }

      div:nth-child(15) {
        grid-column: 2/3;
        grid-row: 8/9;
      }

      div:nth-child(16) {
        grid-column: 3/4;
        grid-row: 8/9;
      }

      div:nth-child(21) {
        grid-column: 1/2;
        grid-row: 9/10;
      }

      div:nth-child(22) {
        grid-column: 2/3;
        grid-row: 9/10;
      }

      div:nth-child(23) {
        grid-column: 3/4;
        grid-row: 9/10;
      }

      div:nth-child(28) {
        grid-column: 1/2;
        grid-row: 10/11;
      }

      div:nth-child(29) {
        grid-column: 2/3;
        grid-row: 10/11;
      }

      div:nth-child(30) {
        grid-column: 3/4;
        grid-row: 10/11;
      }
    }
  }
}
